{% extends 'layout.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/front.css') }}">
{% endblock %}

{% block page_content %}
<header class="main-header">
    {% embed 'decorator/_navbar.html.twig' with {'class': 'fixed-top navbar-dark bg-darkblue', 'brandUrl': path('index') } %}
        {% block brand %}
            WeCanDev
        {% endblock %}

        {% block menu %}
            {{ knp_menu_render('user', {'style': 'horizontal-right'})}}
        {% endblock %}
    {% endembed %}
</header>

<br>

<h2>Mes informations personnelles</h2>

<ul class="list-group">
    <li class="list-group-item">
    {% if user.avatar is not empty %}
        <img src="{{ asset('/uploads/' ~ user.avatar.path ) }}" alt="{{ user.avatar.name }}" class="img-responsive"/>
    {% else %}
        <img class="w-100" src="{{ asset('./img/default_user.jpg') }}" alt="Image par défaut">
    {% endif %}
    </li>
    <li class="list-group-item">Pseudo : {{ user.username }}</li>
    <li class="list-group-item">E-mail : {{ user.email }}</li>
    <li class="list-group-item">Nom : {{ user.name }}</li>
    <li class="list-group-item">Prénom : {{ user.firstname }}</li>
</ul>

<br>

<div class="btn-group">
    <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}">Modifier le profil</a>
    <a class="btn btn-secondary" href="{{ path('fos_user_change_password') }}">Changer le mot de passe</a>
</div>

<hr>

<h2>Mes favoris</h2>
    <ul>
    {% for follow in user.getFollowedTutorials %}
        <li><a href="{{ path('tutorial_show', {'id': follow.tutorial.id }) }}">{{ follow.tutorial.title }}</a></li>
    {% endfor %}
    </ul>

<hr>

<h2>Envie de proposer un nouveau tutoriel ?</h2>
    <p>Si vous souhaitez proposer un nouveau tutoriel, n'hésitez pas à nous le soumettre en cliquant sur le bouton ci-dessous.</p>
    <a class="btn btn-primary" href="{{ path('admin_tutorial_new') }}">Créer un nouveau tutorial</a>
{% endblock %}