<div class="article-list container">
    <ul class="list-unstyled row justify-content-between">
        {% for entity in entities %}
        <li class="media col-md-2 col-sm-12 container">
            <div class="row">
                {% if entity.image is not empty %}
                    <img style="max-width:200px;max-height:200px;" class="mr-3 col-md-12" src="{{ asset('/uploads/' ~ entity.image.path) }}" alt="{{ entity.title }}">
                {% else %}
                    <img class="w-100" src="{{ asset('./img/tuto.jpg') }}" alt="Image par défaut">
                {% endif %}
                
                <div class="media-body col-md-12 text-center">
                    <a href="{{ path('tutorial_show', {'id': entity.id }) }}" id="titleTutorial" class="mt-0 mb-1">{{ entity.title|striptags|slice(0, 25)}}...</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul> <!-- end .col-->
</div>