{% extends 'layout.html.twig' %}

{% block page_content %}
    <article>
        <h2>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('tutorial_follow', {'id': entity.id})}}" class="follow-link {% if isFollow %}text-warning{% else %}text-light{% endif %}"><i class="fas fa-heart"></i></a>
            {% endif %}
            {{ entity.title }}
        </h2>
        {% if entity.image is not empty %}
            <img src="{{ asset('/uploads/' ~ entity.image.path) }}" alt="{{ entity.title }}" class="img-responsive">
        {% endif %}
        <br/>
        <small>{{ entity.dateUpdate|date('d/m/Y H:i') }} - 
            {% if entity.user is not empty %}
                <a href="{{ path('user_profile', {'username': entity.user.username})}}">{{ entity.user }}</a>
            {% endif %}
        </small>
        <div class="article-content">
            {{ entity.content|raw }}
        </div>

        <button type="button" class="btn btn-light"><a href="{{ path('tutorial_pdf', {'id': entity.id }) }}">{{ 'tutorial.pdf'|trans }}</a></button>
    </article>
{% endblock %}