{% extends 'layout.html.twig' %}

{% block page_content %}
    <article>
        <h2>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('tutorial_follow', {'id': entity.id})}}" class="follow-link {% if isFollow %}text-warning{% else %}text-light{% endif %}"><i class="fas fa-heart"></i></a>
            {% endif %}
            {{ entity.title }}
        </h2>
        {% if entity.image is not empty %}
            <img src="{{ asset('/uploads/' ~ entity.image.path) }}" alt="{{ entity.title }}" class="img-responsive">
        {% endif %}
        <br/>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <form method="GET">
            <ul class="notes-echelle">
                <li>
                    <label for="note01" title="Note : 1 sur 5"><a href="{{ path('tutorial_rating', {'id': entity.id }) }}">{{ 'tutorial.star'|trans|parse_icons }}</a></label>
                    <input type="radio" name="notesA" id="note01" value="1" />
                </li>
                <li>
                    <label for="note02" title="Note : 2 sur 5"><a href="{{ path('tutorial_rating', {'id': entity.id }) }}" style="text-decoration: none;">{{ 'tutorial.star'|trans|parse_icons }}</a></label>
                    <input type="radio" name="notesA" id="note02" value="1" />
                </li>
                <li>
                    <label for="note03" title="Note : 3 sur 5"><a href="{{ path('tutorial_rating', {'id': entity.id }) }}">{{ 'tutorial.star'|trans|parse_icons }}</a></label>
                    <input type="radio" name="notesA" id="note03" value="3" />
                </li>
                <li>
                    <label for="note04" title="Note : 4 sur 5"><a href="{{ path('tutorial_rating', {'id': entity.id }) }}">{{ 'tutorial.star'|trans|parse_icons }}</a></label>
                    <input type="radio" name="notesA" id="note04" value="4" />
                </li>
                <li>
                    <label for="note05" title="Note : 5 sur 5"><a href="{{ path('tutorial_rating', {'id': entity.id }) }}">{{ 'tutorial.star'|trans|parse_icons }}</a></label>
                    <input type="radio" name="notesA" id="note05" value="5" />
                </li>
            </ul>
        <p>     Donnez une note à ce tutorial.</p>
        </form>
        {% endif %}
        <small>{{ entity.dateUpdate|date('d/m/Y H:i') }} - 
            {% if entity.user is not empty %}
                <a href="{{ path('user_profile', {'username': entity.user.username})}}">{{ entity.user }}</a>
            {% endif %}
        </small>
        <div class="tutorial-content">
            {{ entity.content|raw }}
        </div>

        <a class="btn btn-success mt-3" href="{{ path('tutorial_pdf', {'id': entity.id }) }}">{{ 'tutorial.pdf'|trans }}</a>

        <section id="comments" class="mt-5">
            <h4> Commentaires</h4>
                {% for comment in entity.comments %}
                    <ul class="list-unstyled">
                        <li class="media">
                            {# <img class="mr-3" src="{{ path('', {'id': entity.id }) }}" alt="avatar"> #}
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">{{comment.user}} (<small>{{ comment.createdAt | date ('d/m/Y')}}</small>)</h6>
                                {{comment.content|raw}}
                            </div>
                        </li>
                    </ul>
                {% endfor %}

            {{ form_start(commentForm) }}
            {{ form_errors(commentForm) }}
            {{ form_row(commentForm.content, {'attr': {'placeholder': "Votre commentaire"}})}}

            <button type="submit" class="btn btn-success mb-5 ">Commenter</button>
                    
            {{ form_end(commentForm)}}
               
        </section>

    </article>
{% endblock %}