{% extends 'admin/admin_layout.html.twig' %}

{% block page_content %}

{{ form_start(form) }}
{% embed 'decorator/_card.html.twig' with {'header_class' : 'bg-primary'} %}
{% block header %}
    {{ 'category.delete.title'|trans }}
{% endblock %}

{% block body %}
{# Formulaire #}
<div class="alert alert-danger">{{ 'category.delete.message'|trans({'%name%' : entity.name})|raw }}</div>
{{ form(form) }}
{% endblock %}

{% block footer %}
<a href="{{ path('admin_category_index') }}" class="btn btn-secondary">Annuler</a>
<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</button>
{% endblock %}

{% endembed %}
{{ form_end(form) }}
{% endblock %}