{% extends 'admin/admin_layout.html.twig' %}

{% block page_content %}

{{ form_start(form, {'attr' : {'novalidate':'novalidate'} }) }}
{% embed 'decorator/_card.html.twig' with {'header_class' : 'bg-primary text-light'} %}
{% block header %}
    {{ 'category.new.title'|trans }}
{% endblock %}

{% block body %}
{# Formulaire #}
{{ form(form) }}
{% endblock %}

{% block footer %}
<a href="{{ path('admin_category_index') }}" class="btn btn-secondary">Annuler</a>
<button type="submit" class="btn btn-primary">Envoyer</button>
{% endblock %}

{% endembed %}
{{ form_end(form) }}
{% endblock %}